/* reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Couleurs */
$pink : #FF6D74;
$black : #000000;
$white : #FFFFFF;
$blueLight : #007C9F;
$blueDark : #1E3557;
$blueExtraLight : #61DAFB;
$greenNodeJs: #83CD29;
$greenVueJs: #41B883;
$colorBarTitles: #A7D8DB;


/* Class génériques */
h1 {
    color: $black;
    font-size: 60px !important;
    padding: 80px 0 50px 0;
    line-height: 62px;
    font-weight: 900;
    position: relative;
    z-index: 1;
    &::before {
        position: absolute;
        content: '';
        display: inline-block;
        width: 55%;
        height: 20px;
        top: 117px;
        left: 5px;
        background-color: $colorBarTitles;
        z-index: -1;
    }
}

h2 {
    position: relative;
    z-index: 1;
    &::before {
        position: absolute;
        content: '';
        display: inline-block;
        width: 160px;
        height: 20px;
        top: 65px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $colorBarTitles;
        z-index: -1;
    }
}

.link-pink {
    color: $pink;
    text-decoration: underline;
    &:hover {
        color: $pink;
        text-decoration: none;
    }
}

/* Mixin */
@mixin pink-button-style {
    background-color: $pink;
    border-radius: 50px;
    color: $white;
    font-size: 16px;
    padding: 10px 30px;
    text-decoration: none !important;
}

/* Header et menu de navigation */
body {
    .bloc-menu-navigation {
        justify-content: center;

        .nav-item {
            border-right: 1px solid $blueExtraLight;
        }

        .btn-nav-contact {
            margin-left: 50px;
            border: none;
        }
    }
    .sous-menu-double {
        display: flex;
        justify-content: space-between;
    }
    .pink-button {
        @include pink-button-style();
    } 
}

.bloc-realisation {
    .card {
        position: relative;
    }
    .card-body {
        position: absolute;
        bottom: 0;
    }
}

/********* Bloc Technologies ************/
.logos-technos {
    .col {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;

        p {
            color: $white;
            margin: 20px 0;
        }
    }
    .col:nth-child(1) {
        background-color: $black;
    }
    .col:nth-child(2) {
        background-color: $blueExtraLight;
    }
    .col:nth-child(3) {
        background-color: $greenNodeJs;
    }
    .col:nth-child(4){
        background-color: $greenVueJs;
    }
}

/********* Bloc témoignages **************/
.bloc-temoignages {
    position: relative;
    max-width: 15rem !important;
    margin-top: 5rem;
    border-radius: 30px;

    img {
        width: 100px;
        height: auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 75%;
    }

    p {
        margin-top: 2rem;
    }
    span {
        font-size: 12px;
    }

}
.slick-dots {
    li {
        button {
            &::before {
                content: "" !important; 
                background-color: $black;
                width: 30px;
                height: 30;
                border-radius: 50px;
            }
        }
    }
    
}

/******** Bloc Blog ACSEO ********/
.blog {
    display: flex;
    justify-content: space-between;

}

/****** footer ********/
footer {
    background-color: $blueDark;
    padding: 50px 0;
    color: $white;
    .col:nth-child(2), .col:nth-child(3), .col:nth-child(4) {
        padding-left: 70px;
    }
    .bloc-col-footer {
        border-right: 1px solid $blueExtraLight;
    }
    a {
        color: $white;
        text-decoration: none;
    }
}
.footer-btm {
    p {
        margin: 10px 0;
        font-weight: 600;
    }
    .legals {
        text-align: right;
        a {
            color: $black;
            text-decoration: none;
        }
    }
}
