/* reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******** Mixin pour le responsive *********/
@mixin extra-small {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin small {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin medium {
    @media (min-width: 768px) and (max-width: 992px) {
        @content;
    }
}

@mixin large {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin extra-large {
    @media (min-width: 1400px) {
        @content;
    }
}


/* Mixin button */
@mixin pink-button-style {
    background-color: $pink;
    border-radius: 50px;
    color: $white;
    font-size: 16px;
    padding: 10px 30px;
    text-decoration: none !important;
    border: 2px solid $pink;
    &:hover {
        border: 2px solid $pink;
        color: $pink;
    }
}

/* Couleurs */
$pink : #FF6D74;
$black : #000000;
$white : #FFFFFF;
$blueLight : #007C9F;
$blueDark : #1E3557;
$blueExtraLight : #61DAFB;
$greenNodeJs: #83CD29;
$greenVueJs: #41B883;
$colorBarTitles: #A7D8DB;


/* Class génériques */
h1 {
    color: $black;
    font-size: 60px;
    padding: 80px 0 50px 0;
    line-height: 62px;
    font-weight: 900;
    position: relative;
    z-index: 1;

    @include small {
        font-size: 40px;
        line-height: 42px;
        text-align: center;
    }
    &::before {
        position: absolute;
        content: '';
        display: inline-block;
        width: 63%;
        height: 20px;
        top: 117px;
        left: 5px;
        background-color: $colorBarTitles;
        z-index: -1;

        @include small {
            top: 100px;
            left: 70px;
        }
    }
}

h2 {
    position: relative;
    z-index: 1;
    &::before {
        position: absolute;
        content: '';
        display: inline-block;
        width: 160px;
        height: 20px;
        top: 65px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $colorBarTitles;
        z-index: -1;
    }
}

.description {
    width: 800px;
    margin: auto !important;
}
.history-acseo {
    width: 470px;
    text-align: justify;
    color: gray;
}

.link-pink {
    color: $pink;
    text-decoration: underline;
    &:hover {
        color: $pink;
        text-decoration: none;
    }
}

.icone-mail-phone {
    display: none;

    @include small {
        display: block;
        img {
            width: 40px;
        }
    }
}

.logo-img {
    @include small {
        img {
            height: 35px;
        }
    }
}

/* Header et menu de navigation */
body {
    .header-top {
        box-shadow: 0 0 30px rgba(115,128,157,.3);
    }
    .bloc-menu-navigation {
        justify-content: center;

        .nav-item {
            .for-border-left {
                border-right: 1px solid $blueExtraLight;
                color: $black;
                padding: 10px 20px;
                @include small {
                    border: none;
                }
                &:hover {
                    color: $pink;
                    text-decoration: underline;
                }
            }
            .item-blog {
                padding: 10px 20px;
                color: $black;
                &:hover {
                color: $pink;
                text-decoration: underline;
                }
            }
            .dropdown-menu {
                margin-top: 16px;
                padding: 15px;
            }
        }
        .btn-nav {
            margin-left: 50px;
            @include small {
                display: none;
            }
        }
    }
    .sous-menu-double {
        display: flex;
        justify-content: space-between;
    }
    .pink-button {
        @include pink-button-style();
        @include small {
            text-align: center;
        }
    } 
    .header-img {
        @include small {
            display: none;
        }
    }
}

.bloc-realisation {
    .card {
        position: relative;
    }
    .card-body {
        position: absolute;
        bottom: 0;
    }
}

/********* Bloc Technologies ************/
.logos-technos {
    .col {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;

        p {
            color: $white;
            margin: 20px 0;
        }
        .nodejs-logo {
            @include small {
                width: 122px;
            }
        }
    }
    .col:nth-child(1) {
        background-color: $black;
    }
    .col:nth-child(2) {
        background-color: $blueExtraLight;
    }
    .col:nth-child(3) {
        background-color: $greenNodeJs;
    }
    .col:nth-child(4){
        background-color: $greenVueJs;
    }
}

/********* Bloc témoignages **************/
.bloc-temoignages {
    position: relative;
    max-width: 15rem !important;
    margin-top: 5rem;
    border-radius: 30px;

    img {
        width: 100px;
        height: auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 75%;
    }

    p {
        margin-top: 2rem;
    }
    span {
        font-size: 12px;
    }

}
.slick-dots {
    li {
        button {
            &::before {
                content: "" !important; 
                background-color: $black;
                width: 30px;
                height: 30;
                border-radius: 50px;
            }
        }
    }
    
}

/******** Bloc Blog ACSEO ********/
.blog-title{
    color: $blueLight;
}
.blog {
    display: flex;
    justify-content: space-between;

    img:hover {
        opacity: 0.6;
    }
}

/****** footer ********/
footer {
    background-color: $blueDark;
    padding: 50px 0;
    color: $white;
    @include small {
        padding: 20px 0;
    }
    .container-footer {
        @include small {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .col:nth-child(2), .col:nth-child(3), .col:nth-child(4) {
            padding-left: 70px;
            @include small {
                padding: 0;
            }
        }
        .bloc-col-footer {
            border-right: 1px solid $blueExtraLight;
            @include small {
                border-bottom: 1px solid $blueExtraLight;
                text-align: center;
                margin: 20px 0;
            }
            a {
                color: $white;
                text-decoration: none;
            }
        }
        .last-col-footer {
            a {
                color: $white;
                text-decoration: none;
            }
            @include small {
                text-align: center;
            }
        }
    }
}
.footer-btm {
    @include small {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p {
        margin: 10px 0;
        font-weight: 600;
        @include small {
            text-align: center;
            margin-top: 20px;
        }
    }
    .legals {
        text-align: right;
        @include small {
            text-align: center;
        }
        a {
            color: $black;
            text-decoration: none;
        }
    }
}

